
@page "/home"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <h1>Welcome</h1>
    <p>Please login to continue</p>
    <a href="/Account/Login" class="btn btn-primary">Login</a>
    <a href="/Account/Register" class="btn btn-secondary ms-2">Register</a>
</div>
