@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using BlazorProject.Data
@using BlazorProject.Services

@inject IRegistrationService RegistrationService
@inject NavigationManager NavigationManager
@inject ILogger<Register> Logger

<PageTitle>Register</PageTitle>

<h1>Register</h1>

<div class="row">
    <div class="col-lg-6">
        <StatusMessage Message="@Message" />
        <EditForm Model="Input" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <DataAnnotationsValidator />
            <h2>Create a new account.</h2>
            <hr />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.UserId" id="Input.UserId" class="form-control" aria-required="true" placeholder="User ID" />
                <label for="Input.UserId">User ID</label>
                <ValidationMessage For="() => Input.UserId" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.UserName" id="Input.UserName" class="form-control" aria-required="true" placeholder="Username" />
                <label for="Input.UserName">Username</label>
                <ValidationMessage For="() => Input.UserName" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="Input.Email">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label for="Input.Password">Password</label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label for="Input.ConfirmPassword">Confirm Password</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </EditForm>
    </div>

</div>

@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private string? Message { get; set; }

    public async Task RegisterUser(EditContext editContext)
    {
        var success = await RegistrationService.RegisterUserAsync(Input.UserId, Input.UserName, Input.Email, Input.Password);
        
        if (success)
        {
            Logger.LogInformation("User registered successfully.");
            NavigationManager.NavigateTo("/Account/Login");
        }
        else
        {
            Message = "Error: User already exists or registration failed.";
        }
    }



    private sealed class InputModel
    {
        [Required]
        [Display(Name = "User ID")]
        public string UserId { get; set; } = "";

        [Required]
        [Display(Name = "Username")]
        public string UserName { get; set; } = "";

        [Required]
        [EmailAddress]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required]
        [StringLength(100, ErrorMessage = "The {0} must be at least {2} and at max {1} characters long.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "The password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; } = "";
    }
}
